<ion-view view-title="About">
  <ion-content class="padding">
    <h4>Purpose:</h4>
    <p>This app generates passwords without storing any data at all. The same inputs and mnemonic choices will result in the same password output.</p>
    <h4>Instructions:</h4>
    <p>Choose a "Magic Word" and a mnemonic pattern that you will remember.</p>
    <p>How you enter the website name matters; for example, "gmail" and "gmail.com" will return different results.</p>
    <h4>About Us</h4>
    <p>Created by Ryan Flaherty and Lex Myers.</p>
  </ion-content>
</ion-view>
