<ion-view view-title="Password Maker">
  <ion-content class="padding" ng-init="block = 'animals'">
    <h2>Password Maker</h2>
    <label class="item item-input">
      <span class="input-label">Magic Word:</span>
      <input type="text" data-ng-model="test.magicInput">
    </label>
    <label class="item item-input">
      <span class="input-label">Site/system name:</span>
      <input type="text" data-ng-model="test.siteInput">
    </label>
    <h3>Pass: {{passReturn()}}</h3>
    <section class="flex-main" ng-show="block == 'animals'" ng-click="block = 'verbs'">
      <div class="flex-row">
        <div class="box" ng-click="dog()">Dog</div>
        <div class="box" ng-click="cat()">Cat</div>
        <div class="box" ng-click="rabbit()">Rabbit</div>
      </div>
      <div class="flex-row">
        <div class="box" ng-click="dragon()">Dragon</div>
        <div class="box" ng-click="llama()">Llama</div>
        <div class="box" ng-click="unicorn()">Unicorn</div>
      </div>
      <div class="flex-row">
        <div class="box" ng-click="eagle()">Eagle</div>
        <div class="box" ng-click="Dolphin()">Dolphin</div>
        <div class="box" ng-click="Penguin()">Penguin</div>
      </div>
    </section>
    <section class="flex-main" ng-show="block == 'verbs'" ng-click="block = 'colors'">
      <div class="flex-row">
        <div class="box" ng-click="eats()">eats</div>
        <div class="box" ng-click="breathes()">breathes</div>
        <div class="box" ng-click="drinks()">drinks</div>
      </div>
      <div class="flex-row">
        <div class="box" ng-click="dreams()">dreams</div>
        <div class="box" ng-click="farts()">farts</div>
        <div class="box" ng-click="smells()">smells</div>
      </div>
      <div class="flex-row">
        <div class="box" ng-click="snubs()">snubs</div>
        <div class="box" ng-click="snorts()">snorts</div>
        <div class="box" ng-click="summons()">summons</div>
      </div>
    </section>
    <section class="flex-main" ng-show="block == 'colors'" ng-click="block = 'nouns'">
      <div class="flex-row">
        <div class="box" ng-click="red()">Red</div>
        <div class="box" ng-click="blue()">Blue</div>
        <div class="box" ng-click="green()">Green</div>
      </div>
      <div class="flex-row">
        <div class="box" ng-click="yellow()">Yellow</div>
        <div class="box" ng-click="orange()">Orange</div>
        <div class="box" ng-click="purple()">Purple</div>
      </div>
      <div class="flex-row">
        <div class="box" ng-click="white()">White</div>
        <div class="box" ng-click="black()">Black</div>
        <div class="box" ng-click="rainbow()">Rainbow</div>
      </div>
    </section>
    <section class="flex-main" ng-show="block == 'nouns'">
      <div class="flex-row">
        <div class="box" ng-click="cheeseburgers()">Cheeseburgers</div>
        <div class="box" ng-click="fire()">Fire</div>
        <div class="box" ng-click="poops()">Poops</div>
      </div>
      <div class="flex-row">
        <div class="box" ng-click="cars()">Cars</div>
        <div class="box" ng-click="donuts()">Donuts</div>
        <div class="box" ng-click="phones()">Phones</div>
      </div>
      <div class="flex-row">
        <div class="box" ng-click="sushi()">Sushi</div>
        <div class="box" ng-click="baseballs()">Baseballs</div>
        <div class="box" ng-click="bicycles()">Bicycles</div>
      </div>
    </section>

  </ion-content>
</ion-view>
